body {
  /* color: #232423; */
  /* font-family: "Lora", serif;
  font-family: "Playfair Display", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif; */
  letter-spacing: -1px;
  margin: 0 30px;
  padding: 0;
  scroll-behavior: smooth;
}
.App {
  display: grid;
  grid-template-rows: 5.3rem 60vh minmax(6rem, min-content);
  grid-template-columns: 2fr 1fr 1fr 2fr;
  row-gap: 3rem;
}
